{% extends "base/_layouts/default.html" %}
{% block content%}

<div class="flex justify-center align-center" style="height:100vh">
    <div class="grid panel white-bg ">
        <div class="s12">
            <h1 class="hot-pink center-text">My TODO App</h1>
            <h2 class="navy center-text">Login</h2>
        </div>
        <div class="s12">
            <form method="post">
                {% csrf_token %} {{form.as_p}}
                <input type="submit" value="Login" class="button green-bg white" />
            </form>
            <p>Don't have an account? <a href="{% url "register" %}" class="link navy">Register</a></p>
        </div>
    </div>
</div>
{% endblock content %}