{% extends "base/_layouts/default.html" %}
{% block content%}
<style>
	form ul {
		list-style-type: square;
		list-style-position: inside;
		color: black;
		opacity: 0.8;
		font-size: 12px;
	}
	form span {
		color: black;
		opacity: 0.8;
		font-size: 12px;
	}
</style>
<div class="flex justify-center align-center" style="height:100vh">
	<div class="grid panel white-bg">
		<div class="s12">
			<h1 class="center-text hot-pink">Register</h1>
			<form method="post">
				{% csrf_token %} {{form.as_p}}
				<input type="submit" value="Register" class="button green-bg white" />
			</form>
			<p class="center-text">Already have an account? <a href="{% url "login" %}" class="link navy">Login</a></p>
		</div>
	</div>
</div>
{% endblock content %}