{% extends "base/_layouts/default.html" %}
{% block content%}
<div class="row container">
	<div class="s12 m3"></div>
	<div class="s12 m6 panel white-bg">
        <a href="{% url "tasks" %}" class="blue light-hover"><i class="material-icons">arrow_back</i></a>
		<h1 class="hot-pink center-text">Add a Task</h1>
		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit" class="button green-bg white"/>
		</form>
	</div>
</div>
{% endblock content %}