{% extends "base/_layouts/default.html" %}
{% block content%}
<div class="flex justify-center">
	<div class="grid s12 m6">
		<div class="s12 panel white-bg">
			{% if request.user.is_authenticated %}
			<p class="right-text teal">{{request.user}}, <a href="{% url "logout" %}" class="link red right">Logout</a></p>
			<h1 class="hot-pink center-text">Tasks</h1>
			<p class="orange">You have <i>{{ count }}</i> incomplete tasks.
				<a href={% url 'create-task' %} class="link blue">Add Task</a>
			</p>
			{% else %}
			<a href="{% url "login"%}">Login</a>
			{% endif %}
			<form method="get">
				<input type="text" name="search-area" value="{{search_input}}" placeholder="Search">
			</form>
		</div>
		<table class="s12">
			<tr >
				<th class="hot-pink-bg white">Created</th>
				<th class="hot-pink-bg white">Items</th>
				<th class="hot-pink-bg white" colspan=3>Actions</th>
			</tr>
			{% for task in tasks %}
			<tr>
				<td class="white-bg">{{ task.create|date:'Y-m-d' }}</td>
				<td class="white-bg">
					{% if task.complete %}
						<div class="task-complete-icon"></div>
						<i><s><a href="{% url "task" task.id %}" class="link gray-3">{{ task.title }}</a></s></i>
					{% else %}
						<div class="task-incomplete-icon"></div>
						<p><a href="{% url "task" task.id %}" class="link blue">{{ task.title }}</a></p>
					{% endif %}
				</td>
				<td class="white-bg"><a href="{% url "task-update" task.id %}" class="orange light-hover"><i class="material-icons">edit</i></a></td>
				<td class="white-bg"><a href="{% url "task-delete" task.id %}" class="red light-hover"><i class="material-icons">delete</i></a></td>
			</tr>
			{% empty %}
			<tr><td class="white-bg" colspan=4>No item in list</td></tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock content %}